page-padre-ver-mensajes {
    .login-content {
        background: #FF5778;
        
    
        .login-box {
        background: #509287;
        padding: 20px 20px 0px 20px;
        margin-top: 30px;
        }    
    }
}
