page-profesor-actividad {
    .login-content { 
        background: #FF5733; 
         
     
        .login-box { 
        background: #509287; 
        padding: 20px 20px 0px 20px; 
        margin-top: 30px; 
        }     
    } 
}
