page-estudiante-ver-horario {
    .login-content {
        background: #ff33c2;
        
    
        .login-box {
        background: #509287;
        padding: 20px 20px 0px 20px;
        margin-top: 30px;
        }    
    }  
}
